<div id="form">
  <h2>Sign Up as company</h2>

  <form action="/auth/signup" method="POST">

    <label> Username
      <input type="text" name="name" placeholder="Your username" />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <label>
      <input type="text" name="url" placeholder="url">
    </label>

    <label>
      <input type="text" name="companyDescription" placeholder="companyDescription">
    </label>

    <label>
      <input type="number" name="established" placeholder="established">
    </label>

    <label>
      <input type="text" name="location" placeholder="location">
    </label>

    <label>
      <input type="number" name="employees" placeholder="employees">
    </label>

    <input type="text" name="type" value="company">

    <button type="submit">Sign Up</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>

<div id="form">
  <h2>Sign Up as employee</h2>

  <form action="/auth/signup" method="POST">

    <label> Username
      <input type="text" name="name" placeholder="Your username" />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <label>
      <input type="text" name="location" placeholder="location">
    </label>


    <label>
      <input type="number" name="age" placeholder="age">
    </label>


    <label>
      <input type="number" name="telephoneNumber" placeholder="telephoneNumber">
    </label>

    <input type="text" name="type" value="employee">

    <button type="submit">Sign Up</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>

<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>Please Register to have access to all our functionalty</p>
                        <form action="/auth/login" method="get">
                        <input type="submit" value="Login"/><br/>
                        </form>
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Employee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Company</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Register as an Employee</h3>
                                <div class="row register-form">
                                  <form action="/auth/signup" method="post"></form>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Username *" name="name" />
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email *" name="email" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" name="password" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control"  placeholder="location *" name="location" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="Age *" name="age" />
                                        </div>
                                        <div class="form-group">
                                            <input type="number" minlength="8" maxlength="15" name="telephoneNumber" class="form-control" placeholder="Your Phone *"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" class="form-control" value="employee" name="type" />
                                        </div>
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
                                </div>
                              </form>
                            </div>
                            <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <h3  class="register-heading">Register as a Company</h3>
                                <div class="row register-form">
                                  <form action="/auth/signup" method="post">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Company Name *" name="name" />
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email *" name="email" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *" name="password" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="URL *" name="url" />
                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Company Description *" name="companyDescription" />
                                        </div>
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="Established *" name="established" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="`Location *" name="location" />
                                        </div>
                                        <div class="form-group">
                                            <input type="number" class="form-control" placeholder="`Nr Employees *" name="employees" />
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" class="form-control"  name="type" value="company" />
                                        </div>
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
                                  </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
