

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../images/findajob.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../images/apply_now.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../images/registercompany.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="intro-text text-center">
  <p>
    You're in the right place - welcome to our job portal! Our goal is to assist you in locating your ideal job and connecting with companies that are in search of skilled people such as yourself. If you're searching for your initial job or a new career step, our platform offers numerous possibilities in different industries and areas. You have the ability to not only browse job listings, but also create a profile and submit applications directly to companies. Our platform makes the job hunting process easier for employers, allowing them to post job openings and find the ideal candidate for their organization. By signing up with us today, you will take the first step to an impressive career!
  </p>
</div>