<h1 class="mt-3 mb-3 text-center">companies list</h1>


<div class="container ">
  {{#each companies}}
<div class="row">

  <div class="col-12 col-sm-6 col-md-4 product mb-3">
    <div class="card" style="width: 18rem; height:14rem;">
      <div class="card-body">

        <h5 class="card-title">{{this.name}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><a href="{{this.url}}">{{this.url}}</a></h6>
        
        <a href="/companies/{{this.id}}" class="card-link btn btn-primary" style="width: 8rem;">Show Jobs</a>

      </div>
    </div>
  </div>

</div>

  {{/each}}
</div>