<h1>companies list</h1>

<ul>
  {{#each companies}}
    <li>
    <h2>{{this.name}}</h2>
    <p> 
        Description: {{this.companyDescription}}  <br />
        url: <a href="{{this.url}}">{{this.url}}</a><br />
        

    </p>
    </li>
    
  {{/each}}
</ul>