<div id="thank-you" class="height">
<h1 class="thank-you">Thank you for applying, we will contact you as soon as possible!</h1>
<img class="thanks-img" src="/images/checkimg.jpg" alt="check image">
</div>